body{
    color:white;
    font-family:var(--bs-body-font-family);
    padding: 10px;
}

.Tableft{
    padding: left 50px;
    padding:right 50px;
}

.custom1{
    background-color:darksalmon;
}

.header{
    padding: 10px;
    color:white;
    resize: both;
}

.footer{
    padding: 50px;
    color:black;
    resize: both;
}

a{
    color:black;
}

a:visited{
    color:white;
}

a:hover{
    color:black;
}

.custom2{
    resize: both;
}