body{
    color: rgb(3, 4, 4);
}
h1{
    font-family:var(--bs-body-font-family);
    color:darksalmon
}

li{
    padding-bottom: 10px;
}

.custom1{
    background-color:white
}

.intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paddingSpace{
    padding-bottom: 20px;
}

a.hover{
    color:palevioletred
}